/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
  	margin: 0 0 0 10px;	
	background-image: url("images/logo.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width:144px;
	height:56px;
}

 

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.material-icons.md-48 { font-size: 48px; }

.scrollToTop, a.scrollToTop {
    width: 40px;
    height: 40px;
    text-align: center;
    background: transparent;
    font-weight: bold;
    font-size: 22px;
    color: #1e1e1e;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 1000;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

